BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
FREQUENCY NET "clk_c" 100.000000 MHz ;
INPUT_SETUP ALLPORTS 10.000000 ns CLKPORT "clk" ;
INPUT_SETUP PORT "rstn" 10.000000 ns CLKPORT "clk" ;
IOBUF ALLPORTS IO_TYPE=LVCMOS33 ;
LOCATE COMP "clk" SITE "L5" ;
LOCATE COMP "rstn" SITE "A21" ;
IOBUF PORT "clk" IO_TYPE=LVDS25 TERMINATEVTT=OFF ;
LOCATE COMP "gpio[0]" SITE "B11" ;
LOCATE COMP "gpio[1]" SITE "B12" ;
LOCATE COMP "gpio[2]" SITE "A12" ;
LOCATE COMP "gpio[3]" SITE "A13" ;
LOCATE COMP "gpio[4]" SITE "E12" ;
LOCATE COMP "gpio[5]" SITE "E13" ;
LOCATE COMP "gpio[6]" SITE "C13" ;
LOCATE COMP "gpio[7]" SITE "C14" ;
LOCATE COMP "led[0]" SITE "AA20" ;
LOCATE COMP "led[1]" SITE "AB20" ;
LOCATE COMP "led[2]" SITE "V19" ;
LOCATE COMP "led[3]" SITE "W19" ;
LOCATE COMP "led[4]" SITE "U19" ;
LOCATE COMP "led[5]" SITE "U18" ;
LOCATE COMP "led[6]" SITE "AA21" ;
LOCATE COMP "led[7]" SITE "Y20" ;
